.div1{
    background-color: rgb(194, 146, 240);
}
.div2{
    background-color: rgb(194, 146, 240);
}
.div3{
    background-color: rgb(194, 146, 240);
}
.container{
    border: 2px solid black;
/* Limita o tamanho do elemento */
    max-width: 400px;
    margin: 0 auto;
    display: flex;
}

.item{
    background-color: bisque;
    margin: 5px;
    text-align: center;
    color:azure;
}