
/* Seletor universal */
* {
    margin: 0;
}

/* Seletor tipo, aplicando em uma tag */
p{
    color:rgb(100, 164, 79)
}

/* Seletor de classe */
.paragrafo{
    background-color:rgb(191, 210, 145);
   /* margin: 10px 20px; - Aplica em todas as margens */
   /* margin: 10px 40px; - Aplica nas margens 'Laterais' e 'superior e inferior' */
   margin: 10px 20px 30px 40px;/*aplica margem top, right, bottom, left*/
   margin-left: 10px;
   /* alinha elementos ao centro */
   text-align: center;
}
.imagem {
    width: 150px;
    height: 100px;
}

.tabela{
    /* remover os espaços entre as tabelas */
    border-collapse: collapse;
    width: 100%;
}

.cabecalho, .celula {
    /* configura o formato da borda: Expessura, tipo e cor */
    border: 2px solid #ddd;
    /* define o espaçamento interno */
    padding: 5px;
    text-align: left;
    color: black
}