
/* Seletor universal */
* {
    margin: 0;
}

/* Seletor tipo, aplicando em uma tag */
p{
    color:rgb(100, 164, 79)
}

/* Seletor de classe */
.paragrafo{
    background-color:rgb(191, 210, 145);
   /* margin: 10px 20px; - Aplica em todas as margens */
   /* margin: 10px 40px; - Aplica nas margens 'Laterais' e 'superior e inferior' */
   margin: 10px 20px 30px 40px;/*aplica margem top, right, bottom, left*/
   margin-left: 10px;
   /* alinha elementos ao centro */
   text-align: center;
}
.imagem {
    width: 150px;
    height: 100px;
}

.tabela{
    /* remover os espaços entre as tabelas */
    border-collapse: collapse;
    width: 100%;
}

.cabecalho, .celula {
    /* configura o formato da borda: Expessura, tipo e cor */
    border: 2px solid #ddd;
    /* define o espaçamento interno */
    padding: 5px;
    text-align: left;
    color: black
}

.formulario{
    background-color:rgb(250, 170, 206);
}
.input-nome{
    /* remove a borda do elemento */
    border: none;
    border-radius: 5px;
    margin-left: 50px;
    /* define a opacidade do elemento */
    opacity: 70%;
}
.botao{
    background-color:aquamarine;
    border: none;
    border-radius: 5px;
    padding: 6px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    /*aplica sombra no texto posição x,y, blur e o rgba que aplica com opacidade */
    text-shadow: 11px 1px 4px rgba rgb(93, 93, 232);

}   
.checar{
    width: 20px;
    height: 20px;
    margin-left: 5px;
    /* modifica o tipo do cursor */
    cursor: pointer;
    /* zerar as configurações de aparencia */
    appearance: none; 
    background-color:#ffffff;
    border: 2px solid #2fcea6;
    border-radius: 5px;

}
.checar:checked{
    background-color:rgb(100, 164, 79);
}

.email{
    width: 300px;
    padding: 5px 5px;
    margin-left: 5px;
    border: 2px solid white;
}

.selecao{
    appearance: none;
    width: 300px;
    padding: 4px;
    font-size: 16px;
    color:darkorchid;
    background-color: #fff9f9;
    border: 2px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    /* sombra no input */
    box-shadow: 0 2px 5px rgba(0, 0, 0);

    }

    .radio{
        appearance: none;
        width: 20px;
        height: 20px;
        border: 2px solid #d3421d;
        border-radius: 50%;
        cursor: pointer;
    }
    /* Pseudoclasse, quando o estado do objeto muda, ele atribui outras propriedades */
    .radio:checked{
        background-color: #d3421d;
        border-color: #d3421d;
    }